
 Ôøà´©Å wrangler 3.72.0 (update available 4.120.0)
----------------------------------------------

­ƒîÇ Executing on local database workeriago-db (98d488d9-41ed-48b8-b972-593379718782) from .wrangler\state\v3\d1:
­ƒîÇ To execute on your remote database, add a --remote flag to your wrangler command.
[
  {
    "results": [
      {
        "sql": "CREATE TABLE _cf_KV (\n      key TEXT PRIMARY KEY,\n      value BLOB\n    ) WITHOUT ROWID"
      },
      {
        "sql": "CREATE TABLE knowledge_chunks (\n  id TEXT PRIMARY KEY,\n  kb_id TEXT NOT NULL,\n  chunk_index INTEGER NOT NULL,\n  content TEXT NOT NULL,\n  token_count INTEGER,\n  vector_id TEXT,\n  created_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  FOREIGN KEY (kb_id) REFERENCES knowledge_base(id) ON DELETE CASCADE\n)"
      },
      {
        "sql": "CREATE TABLE agent_knowledge (\n  agent_id TEXT NOT NULL,\n  kb_id TEXT NOT NULL,\n  priority INTEGER DEFAULT 0,\n  created_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  PRIMARY KEY (agent_id, kb_id)\n)"
      },
      {
        "sql": "CREATE TABLE mcp_tools (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL UNIQUE,\n  description TEXT NOT NULL,\n  category TEXT DEFAULT 'custom',\n  handler_type TEXT DEFAULT 'http',\n  endpoint_url TEXT,\n  method TEXT DEFAULT 'POST',\n  headers JSON,\n  parameters_schema JSON NOT NULL,\n  response_schema JSON,\n  auth_type TEXT DEFAULT 'none',\n  auth_config JSON,\n  timeout_ms INTEGER DEFAULT 10000,\n  retry_count INTEGER DEFAULT 1,\n  is_active INTEGER DEFAULT 1,\n  usage_count INTEGER DEFAULT 0,\n  avg_latency_ms INTEGER DEFAULT 0,\n  last_used_at TEXT,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE agent_tools (\n  agent_id TEXT NOT NULL,\n  tool_id TEXT NOT NULL,\n  is_enabled INTEGER DEFAULT 1,\n  created_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  PRIMARY KEY (agent_id, tool_id)\n)"
      },
      {
        "sql": "CREATE TABLE tool_execution_logs (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  tool_id TEXT NOT NULL,\n  agent_id TEXT,\n  conversation_id INTEGER,\n  input_params JSON,\n  output_result JSON,\n  status TEXT DEFAULT 'success',\n  error_message TEXT,\n  latency_ms INTEGER,\n  tokens_used INTEGER DEFAULT 0,\n  created_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE ai_logs (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  request_id TEXT,\n  agent_id TEXT,\n  conversation_id INTEGER,\n  model TEXT NOT NULL,\n  provider TEXT DEFAULT 'cloudflare',\n  tokens_input INTEGER DEFAULT 0,\n  tokens_output INTEGER DEFAULT 0,\n  cost_usd REAL DEFAULT 0,\n  latency_ms INTEGER DEFAULT 0,\n  status TEXT DEFAULT 'success',\n  error_message TEXT,\n  cache_hit INTEGER DEFAULT 0,\n  channel TEXT,\n  action TEXT,\n  created_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE agents (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  description TEXT,\n  type TEXT NOT NULL DEFAULT 'general',\n  system_prompt TEXT NOT NULL,\n  model TEXT NOT NULL DEFAULT '@cf/meta/llama-3.1-8b-instruct-fp8',\n  temperature REAL DEFAULT 0.7,\n  max_tokens INTEGER DEFAULT 512,\n  tools JSON,\n  channel_config JSON,\n  is_active INTEGER DEFAULT 1,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE conversations (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  agent_id TEXT NOT NULL,\n  channel TEXT NOT NULL,\n  chat_id TEXT NOT NULL,\n  user_name TEXT,\n  user_phone TEXT,\n  user_email TEXT,\n  status TEXT DEFAULT 'active',\n  intent TEXT,\n  sentiment TEXT,\n  priority INTEGER DEFAULT 0,\n  paused_until TEXT,\n  last_message_at TEXT,\n  message_count INTEGER DEFAULT 0,\n  tags JSON,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  FOREIGN KEY (agent_id) REFERENCES agents(id)\n)"
      },
      {
        "sql": "CREATE TABLE messages (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  conversation_id INTEGER NOT NULL,\n  role TEXT NOT NULL,\n  content TEXT NOT NULL,\n  metadata JSON,\n  created_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  FOREIGN KEY (conversation_id) REFERENCES conversations(id)\n)"
      },
      {
        "sql": "CREATE TABLE tickets (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  conversation_id INTEGER,\n  agent_id TEXT NOT NULL,\n  title TEXT NOT NULL,\n  description TEXT,\n  status TEXT DEFAULT 'new',\n  priority INTEGER DEFAULT 0,\n  assigned_to TEXT,\n  category TEXT,\n  resolution TEXT,\n  resolved_at TEXT,\n  closed_at TEXT,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  FOREIGN KEY (conversation_id) REFERENCES conversations(id),\n  FOREIGN KEY (agent_id) REFERENCES agents(id)\n)"
      },
      {
        "sql": "CREATE TABLE knowledge_base (\n  id TEXT PRIMARY KEY,\n  title TEXT NOT NULL,\n  description TEXT,\n  category TEXT DEFAULT 'general',\n  source_type TEXT DEFAULT 'manual', -- manual, url, file\n  source_url TEXT, -- URL de origen si aplica\n  r2_key TEXT, -- key del archivo en R2\n  mime_type TEXT, -- text/plain, text/html, application/pdf, etc.\n  file_size INTEGER, -- bytes\n  content_preview TEXT, -- primeros 500 chars del contenido\n  chunk_count INTEGER DEFAULT 0, -- n├║mero de chunks generados\n  is_published INTEGER DEFAULT 1,\n  view_count INTEGER DEFAULT 0,\n  helpful_count INTEGER DEFAULT 0,\n  not_helpful_count INTEGER DEFAULT 0,\n  last_indexed_at TEXT, -- ├║ltimo embedding generado\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE leads (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  conversation_id INTEGER,\n  agent_id TEXT NOT NULL,\n  name TEXT,\n  phone TEXT,\n  email TEXT,\n  company TEXT,\n  interest TEXT,\n  score INTEGER DEFAULT 0,\n  status TEXT DEFAULT 'new',\n  source TEXT,\n  notes TEXT,\n  last_contact_at TEXT,\n  next_followup_at TEXT,\n  followup_count INTEGER DEFAULT 0,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  FOREIGN KEY (conversation_id) REFERENCES conversations(id),\n  FOREIGN KEY (agent_id) REFERENCES agents(id)\n)"
      },
      {
        "sql": "CREATE TABLE config (\n  key TEXT PRIMARY KEY,\n  value TEXT NOT NULL,\n  category TEXT DEFAULT 'general',\n  description TEXT,\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE workflows (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  description TEXT,\n  trigger_type TEXT DEFAULT 'manual',\n  trigger_config JSON,\n  steps JSON NOT NULL,\n  is_active INTEGER DEFAULT 1,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE workflow_runs (\n  id TEXT PRIMARY KEY,\n  workflow_id TEXT NOT NULL,\n  status TEXT DEFAULT 'running',\n  current_step TEXT,\n  context JSON,\n  started_at TEXT,\n  completed_at TEXT,\n  error TEXT, tenant_id TEXT,\n  FOREIGN KEY (workflow_id) REFERENCES workflows(id)\n)"
      },
      {
        "sql": "CREATE TABLE connectors (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  type TEXT NOT NULL,\n  is_active INTEGER DEFAULT 0,\n  config JSON,\n  auth_token TEXT,\n  last_sync_at TEXT,\n  sync_status TEXT,\n  items_synced INTEGER DEFAULT 0,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE user_memories (\n  id TEXT PRIMARY KEY,\n  user_id TEXT NOT NULL,\n  memory_type TEXT NOT NULL, -- fact, preference, summary, sentiment\n  content TEXT NOT NULL,\n  source_conversation_id INTEGER,\n  confidence REAL DEFAULT 0.8,\n  created_at TEXT DEFAULT (datetime('now')),\n  last_recalled_at TEXT,\n  recall_count INTEGER DEFAULT 0\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE ab_tests (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  description TEXT,\n  variants JSON NOT NULL,\n  traffic_split JSON NOT NULL,\n  status TEXT DEFAULT 'draft',\n  primary_metric TEXT DEFAULT 'conversion',\n  start_date TEXT,\n  end_date TEXT,\n  created_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE ab_events (\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\n  test_id TEXT NOT NULL,\n  variant_id TEXT NOT NULL,\n  conversation_id INTEGER,\n  event_type TEXT NOT NULL,\n  value REAL,\n  created_at TEXT DEFAULT (datetime('now')), tenant_id TEXT,\n  FOREIGN KEY (test_id) REFERENCES ab_tests(id)\n)"
      },
      {
        "sql": "CREATE TABLE webhooks (\n  id TEXT PRIMARY KEY,\n  url TEXT NOT NULL,\n  events JSON NOT NULL,\n  secret TEXT NOT NULL,\n  is_active INTEGER DEFAULT 1,\n  last_triggered_at TEXT,\n  fail_count INTEGER DEFAULT 0,\n  created_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE admin_users (\n  id TEXT PRIMARY KEY,\n  email TEXT NOT NULL UNIQUE,\n  name TEXT NOT NULL,\n  role TEXT NOT NULL DEFAULT 'viewer',\n  permissions JSON DEFAULT '[]',\n  password_hash TEXT,\n  last_login_at TEXT,\n  created_at TEXT DEFAULT (datetime('now'))\n)"
      },
      {
        "sql": "CREATE TABLE audit_logs (\n  id TEXT PRIMARY KEY,\n  user_id TEXT NOT NULL,\n  user_email TEXT NOT NULL,\n  action TEXT NOT NULL,\n  resource_type TEXT NOT NULL,\n  resource_id TEXT,\n  details JSON,\n  ip_address TEXT,\n  user_agent TEXT,\n  created_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE tenants (\n  id TEXT PRIMARY KEY,\n  name TEXT NOT NULL,\n  slug TEXT NOT NULL UNIQUE,\n  plan TEXT DEFAULT 'free',\n  status TEXT DEFAULT 'active',\n  config JSON DEFAULT '{}',\n  limits JSON NOT NULL,\n  owner_email TEXT NOT NULL,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n)"
      },
      {
        "sql": "CREATE TABLE monitoring_alerts (\n  id TEXT PRIMARY KEY,\n  type TEXT NOT NULL,\n  severity TEXT NOT NULL,\n  message TEXT NOT NULL,\n  metadata JSON,\n  acknowledged INTEGER DEFAULT 0,\n  created_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      },
      {
        "sql": "CREATE TABLE backup_logs (\n  id TEXT PRIMARY KEY,\n  type TEXT NOT NULL,\n  status TEXT NOT NULL,\n  tables JSON,\n  total_rows INTEGER DEFAULT 0,\n  total_size_bytes INTEGER DEFAULT 0,\n  error TEXT,\n  started_at TEXT,\n  completed_at TEXT\n)"
      },
      {
        "sql": "CREATE TABLE channel_configs (\n  id TEXT PRIMARY KEY,\n  channel_type TEXT NOT NULL,\n  is_active INTEGER DEFAULT 0,\n  config JSON NOT NULL,\n  created_at TEXT DEFAULT (datetime('now')),\n  updated_at TEXT DEFAULT (datetime('now'))\n, tenant_id TEXT)"
      }
    ],
    "success": true,
    "meta": {
      "duration": 2
    }
  }
]
